<!doctype html>
<html lang="en">
  <head>
    <title>Agorismdb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">AgorismDB</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#resources">Recursos</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">Sobre</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead bg-warning d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">AgorismDB</h1>
        <h3 class="mb-5">
          <em>Banco de dados de recursos de contraeconomia para a prática do Agorismo</em>
        </h3>

        <div class="col-md-10 offset-1">
          <%= render 'partials/search_form' %>

          <% @categories.each do |category| %>
            <%= category.link_to_header %>
          <% end %>
        </div>

      </div>
      <div class="overlay"></div>
    </header>

    <%= yield %>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <%= render 'partials/about' %>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="http://facebook.com/afonsonet0" target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="http://twitter.com/afonsonet0" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="https://github.com/AfonsoNeto" target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>
        <p class="text-muted small mb-0">
          Propriedade Intelectual não existe! 2018
        </p>
        <p class="text-muted small mb-0">
          Baseado no <a href='https://medium.com/@israelfinardi/70-maneiras-de-se-livrar-do-estado-6a5a758a726d' style='text-decoration: underline;' target='_blank'>Manual do Agorista
          </a>
        </p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="http://malsup.github.io/jquery.blockUI.js" async></script>
  </body>
</html>